[Unit]
Description=ShutdownD
StartLimitIntervalSec=0

[Service]
User=shutdownd
Type=simple
Restart=always
RestartSec=1
Environment=SHUTDOWND_CONFIG_DIR=/etc/shutdownd
ExecStart=/usr/bin/shutdownd

[Install]
WantedBy=multi-user.target
