[Unit]
Description=ShutdownD
StartLimitIntervalSec=0

[Service]
User=shutdownd
Type=simple
Restart=always
RestartSec=1
ExecStart=__PATH__/shutdownd

[Install]
WantedBy=multi-user.target
