[Unit]
Description=ShutdownD
StartLimitIntervalSec=0

[Service]
User=shutdownd
Type=simple
Restart=always
RestartSec=1
ExecStart=/opt/shutdownd/shutdownd
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
